.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.p-20 {
    padding: 20px;
}
:root {
  --main-shadow: 0px 12px 20px 0px rgb(0, 0, 0 , 13%) , 0px 2px 4px 0px rgb(0, 0, 0 , 12%);
  --main-transtion:0.3s;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;

}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.m-20 {
    margin: 20px;
}
.m-15 {
    margin: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.m-0 
{
    margin: 0;
}
.pos-r {
    position: relative;
}
.pos-ab {
    position: absolute;
}
.coler-f6f6 {
    background-color: #f6f6f6;
}
.color-orange {
    color: var(--orange-color);
}
.color-red {
    color: var(--red-color);
}
.color-green {
   color: var(--green-color);
}
.d-flex {
    display: flex;
}
.h-full {
    height: 100%;
}
.p-15 {
padding: 15px;
}
.center-flex {
   display: flex;
    align-items: center;
    justify-content: center;
}
.align-center{
align-items : center;

}

.txt-c {
    text-align: center;
}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-25{font-size: 25px;}
.w-full {
    width: 100%;
}
.btn-shape {
  padding: 6px 10px;
    border-radius: 6px;
}
.bg-white {
    background-color: white;
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.color-dbdb {
    color: #dbdbdb;
}
.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.border-ccc {
    
    border: 1px solid #ccc;

}
.mt-15 {
    margin-top: 15px;
}
.mt-25 {
    margin-top: 25px;
}
.re-none {
    resize: none
}
.fw-bold {
    font-weight: bold;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-25 {
    margin-bottom: 25px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.bg-blue {
    background-color: var(--blue-color);
}

.d-flex-between {
    justify-content: space-between;
    align-items: center;
    display: flex;
} 
.flex-1 
{
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
.color-gray {
color: var(--grey-color);
}
.border-none {
    border: none;
}
.bg-gray {
    background-color: var(--grey-color);
}
.bg-eee {
    background-color: #eee;
}
.color-blue {
color: var(--blue-color);
}
.color-white {
    color: white;
}
.w-fit {
    width: fit-content;
}
.between{
    justify-content: space-between;
}
@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }
    .d-block-mobile {
        display: block;
    }
    .d-none-mobile {
        display:none;
    }
    .w-full-mobile {
        width: 100%;
    }
}
.he-36 {
    height: 36px;
}
.he-180 {
    height: 180px;
}
.color-black {
    color: black;
}